<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/homepage.style.css" />
    <script
      src="https://kit.fontawesome.com/aff782d1fc.js"
      crossorigin="anonymous"
    ></script>
    <title>KenzieHabit - Homepage</title>
  </head>
  <body>
    <header class="header-container">
      <p>KenzieHabit</p>
    </header>

    <section class="user-section"></section>

    <main class="main-container">
      <section class="habits-section">
        <h1>Tarefas</h1>
        <span id="all-habits-filter">Todos</span>
        <span id="checked-habits-filter">Concluídos</span>
        <button id="button-createHabit">Criar</button>
      </section>
      <section>
        <ul class="habits-container">
          <li class="habits-header">
            <div class="checkbox-container">
              <p class="list-status">Status</p>
            </div>
            <div class="title-div">
              <p class="list-title">Título</p>
            </div>
            <div class="description-div">
              <p class="list-description">Descrição</p>
            </div>
            <div class="category-div">
              <p class="list-category">Categoria</p>
            </div>
            <div class="edit-div">
              <p class="list-edit">Editar</p>
            </div>
          </li>
        </ul>
      </section>
    </main>

    <div class="containerModalCreateHabit none">
      <div class="modalCreateHabit">
        <div class="modal-title-header">
          <h1>Criar Hábito</h1>
          <img
            class="closeCreateHabit"
            src="../assets/img/X.png"
            alt=""
            srcset=""
          />
        </div>
        <form>
          <div class="modal_title">
            <label class="modal_label">Título</label>
            <input
              class="titleInput"
              name="habit_title"
              type="text"
              placeholder="Digitar título"
            />
            <span class="spanError none">Message Error</span>
          </div>
          <div class="modal_description">
            <label class="modal_label">Descrição</label>
            <textarea
              class="descriptionInput"
              name="habit_description"
              placeholder="Digitar descrição"
            ></textarea>
            <span class="spanError none">Message Error</span>
          </div>
          <div class="option_category">
            <label class="modal_label">Categoria</label>
            <select name="habit_category" class="habit_category">
              <option disabled selected>Selecione Categoria</option>
              <option class="option_category">👤 Casa</option>
              <option class="option_category">📘 Estudos</option>
              <option class="option_category">🍃 Lazer</option>
              <option class="option_category">📊 Trabalho</option>
              <option class="option_category">💙 Saude</option>
            </select>
            <span class="spanError none">Message Error</span>
          </div>

          <button class="buttonInsert">Inserir</button>
        </form>
      </div>
    </div>

    <section class="container_editIconProfile none">
      <div class="triangulo">
        <img src="../assets/img/Polygon 1.png" />
      </div>
      <div class="content_iconProfile">
        <div class="opition">
          <button class="btn_iconProfile" id="btn_editIconProfile">
            <img src="../assets/img/user.png" />
            <span>Editar perfil</span>
          </button>
        </div>
        <div class="opition">
          <button class="btn_iconProfile" id="btn_editProfile">
            <img class="img_iconProfile" src="../assets/img/fechinha.png" />
            <span>Sair do app</span>
          </button>
        </div>
      </div>
    </section>

    <section class="container_editProfile none">
      <div class="content_editProfile">
        <div class="title_editProfile">
          <h3 class="profile">Editar perfil</h3>
          <img src="../assets/img/X.png" class="closeEditProfile" />
        </div>
        <form class="editProfileForm">
          <label for="name" class="label">Nome</label>
          <input type="text" class="input" name="usr_name" />
          <span class="spanError none">Message error</span>
          <label for="image" class="label">URL da imagem do perfil</label>
          <input type="url" class="input" name="usr_image" />
          <span class="spanError none">Message error</span>
          <button class="btn_editProfile">Salvar alterações</button>
        </form>
      </div>
    </section>

    <div class="containerModalCreateHabit none" id="container_editHabit">
      <div class="modalCreateHabit">
        <form class="form-edit-habit">
          <div class="modal-title-header">
            <h1>Editar Hábito</h1>
            <img
              class="closeCreateHabit"
              id="closeEditHabit"
              src="../assets/img/X.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="modal_title">
            <label class="label_editHabit">Título</label>
            <input class="titleInput" type="text" placeholder="" />
          </div>
          <div class="modal_description">
            <label class="label_editHabit">Descrição</label>
            <textarea
              class="descriptionInput"
              name="description"
              id=""
            ></textarea>
          </div>
          <div class="option_category">
            <label class="label_editHabit">Categoria</label>
            <select class="habit_category">
              <option class="option_category">👤 Casa</option>
              <option class="option_category">📘 Estudos</option>
              <option class="option_category">🍃 Lazer</option>
              <option class="option_category">📊 Trabalho</option>
              <option class="option_category">💙 Saude</option>
            </select>
          </div>
          <div class="modal_status">
            <label class="label_editHabit">Status</label>
            <input class="inputCheck" type="checkbox" />
          </div>
          <div class="modal_buttons">
            <button class="buttonEditProfileDelete">Excluir</button>
            <button class="modal_buttons_buttonSalvar">
              Salvar alterações
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="container_deleteHabit none">
      <div class="modal">
        <form>
          <div class="modalHeader">
            <h1>Excluir Hábito</h1>
            <img
              class="modalCloseDelete"
              src="../assets/img/X.png"
              alt=""
              srcset=""
            />
          </div>
          <p></p>
          <div class="textContentDelete">
            <p class="textContentDelete_question">
              Certeza que deseja excluir este hábito?
            </p>
            <p class="textContentDelete_info">
              Após executar essa ação não será possível desfazer
            </p>
          </div>
          <div class="modal_buttonsDelete">
            <button class="buttonCancel">Cancelar</button>
            <button class="buttonDelete">Sim, excluir este hábito</button>
          </div>
        </form>
      </div>
    </div>
    <script type="module" src="../scripts/homepage.script.js"></script>
  </body>
</html>
