<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/homepage.style.css" />
    <script
      src="https://kit.fontawesome.com/aff782d1fc.js"
      crossorigin="anonymous"
    ></script>
    <title>KenzieHabit - Homepage</title>
  </head>
  <body>
    <header class="header-container">
      <p>KenzieHabit</p>
      <img src="../assets/img/user.png" alt="User image" />
    </header>

    <section class="user-section">
      <img src="../assets/img/user.png" alt="User image" />
      <p>Username</p>
    </section>

    <main class="main-container">
      <section class="habits-section">
        <h1>Tarefas</h1>
        <span id="all-habits-filter">Todos</span>
        <span id="checked-habits-filter">Concluídos</span>
        <button id="button-createHabit">Criar</button>
      </section>
      <section>
        <ul class="habits-container">
          <li class="habits-header">
            <div class="checkbox-container">
              <p class="list-status">Status</p>
            </div>
            <div class="title-div">
              <p class="list-title">Título</p>
            </div>
            <div class="description-div">
              <p class="list-description">Descrição</p>
            </div>
            <div class="category-div">
              <p class="list-category">Categoria</p>
            </div>
            <div class="edit-div">
              <p class="list-edit">Editar</p>
            </div>
          </li>
          <!-- <li class="list-habit">
            <div class="checkbox-container">
              <input type="checkbox" class="habit-status" />
            </div>
            <div class="title-div">
              <p class="habit-title">Codar como se não houvesse amanhã</p>
            </div>
            <div class="description-div">
              <p class="habit-description">
                Objetivo de me tornar um programador melhor
              </p>
            </div>
            <div class="category-div">
              <span class="habit-category">Estudos</span>
            </div>
            <div class="edit-div">
              <span class="habit-edit">
                <img src="../assets/img/edit-option.png" alt="" />
              </span>
            </div>
          </li>
          <li class="list-habit list-habit-checked">
            <div class="checkbox-container">
              <input type="checkbox" class="habit-status" />
            </div>
            <div class="title-div">
              <p class="habit-title">Codar como se não houvesse amanhã</p>
            </div>
            <div class="description-div">
              <p class="habit-description">
                Objetivo de me tornar um programador melhor
              </p>
            </div>
            <div class="category-div">
              <span class="habit-category">Estudos</span>
            </div>
            <div class="edit-div">
              <span class="habit-edit">
                <img src="../assets/img/edit-option.png" alt="" />
              </span>
            </div>
          </li> -->
        </ul>
      </section>
    </main>

    <div class="containerModalCreateHabit none">
      <div class="modalCreateHabit">
        <div class="modal-title-header">
          <h1>Criar Hábito</h1>
          <img
            class="closeCreateHabit"
            src="../assets/img/X.png"
            alt=""
            srcset=""
          />
        </div>
        <form>
          <div class="modal_title">
            <label class="modal_label">Título</label>
            <input
              class="titleInput"
              name="habit_title"
              type="text"
              placeholder="Digitar título"
            />
            <span class="spanError none">Message Error</span>
          </div>
          <div class="modal_description">
            <label class="modal_label">Descrição</label>
            <textarea
              class="descriptionInput"
              name="habit_description"
              placeholder="Digitar descrição"
            ></textarea>
            <span class="spanError none">Message Error</span>
          </div>
          <div class="option_category">
            <label class="modal_label">Categoria</label>
            <select name="habit_category" class="habit_category">
              <option disabled selected>Selecione Categoria</option>
              <option class="option_category">👤 Casa</option>
              <option class="option_category">📘 Estudos</option>
              <option class="option_category">🍃 Lazer</option>
              <option class="option_category">📊 Trabalho</option>
              <option class="option_category">💙 Saude</option>
            </select>
            <span class="spanError none">Message Error</span>
          </div>

          <button class="buttonInsert">Inserir</button>
        </form>
      </div>
    </div>

    <script type="module" src="../scripts/homepage.script.js"></script>
  </body>
</html>
