<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./src/css/reset.css" />
    <link rel="stylesheet" href="./src/css/style.css" />
    <title>Kenzie Habit</title>
  </head>

  <body>
    <section class="container">
      <div class="first_content">
        <h3 class="title">KenzieHabit</h3>
        <p class="descripition">If you are going to use a <span id="passage">passage</span></p> <p class="descripition">of Lorem Ipsum</p>
        <span class="span">you need to be sure there isn't anything</span>
      </div>
      <!-- Primeiro Conteúdo -->
      <div class="secound_content">
        <h4 class="login">Login</h4>
        <p class="user">Usuário:</p>
        <input type="email" placeholder="Digite seu email">
        <p class="password">Senha:</p>
        <input type="password" placeholder="Digite sua senha">
        <button class="btn">Entrar</button>
      </div>
      <!-- Segundo Conteúdo -->
    </section>
  </body>

</html>
