<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/modalIconProfile.temp.css">
    <title>Document</title>
</head>
<body>
    <section class="container">
        <div class="triangulo">
            <img src="../assets/img/Polygon 1.png">    
        </div>
        <div class="first_content">
            <div class="opition">  
                <img src="../assets/img/user.png">
                <button class="btn">Editar perfil</button>
            </div>
            <div class="opition">
                <img src="../assets/img/fechinha.png">
                <button class="btn">Sair do app</button>
            </div>
        </div>
    </section>
</body>
</html>