<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/modalEditarPerfil.temp.css">
    <title>Editar Perfil</title>
</head>
<body>
    <section class="container">
        <div class="">
        <h3 class="profile">Editar perfil</h3>
        <img src="../assets/img/X.png" class="close">
            <form class="editarPerfilFomulario">
                <label for="name" class="label">Nome</label>
                <input type="text" class="input">
                <label for="image" class="label">URL da imagem do perfil</label>
                <input type="url" class="input">
                <button class="btn">Salvar alterações</button>
            </form>
        </div>
    </section>

    </body>
</html>