.header-container {
  max-width: 100%;
  display: flex;
  height: 3.625rem;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}

@media screen and (min-width: 576px) {
  .header-container {
    padding: 0 18.75%;
  }
}

.header-container > p {
  font-weight: 700;
  color: #415af3;
}

.header-container > img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 0.125rem solid #415af3;
  cursor: pointer;
}

.user-section {
  max-width: 100%;
  height: 7.813rem;
  display: flex;
  background-color: #415af3;
  padding-left: 1.25rem;
  gap: 1.125rem;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .user-section {
    padding: 0 18.75%;
  }
}

.user-section > img {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  border: 0.125rem solid #ffffff;
}

@media screen and (max-width: 575px) {
  .user-section > img {
    margin-bottom: 2.5rem;
  }
}

.user-section > p {
  margin-bottom: 2.5rem;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.25rem;
}

.main-container {
  width: 92%;
  display: flex;
  flex-direction: column;
  margin: 3.625rem auto 2.125rem;
}

@media screen and (min-width: 576px) {
  .main-container {
    width: 63%;
    margin: 1.8125rem auto;
  }
}

.habits-section {
  max-width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.313rem;
}

@media screen and (max-width: 575px) {
  .habits-section {
    flex-wrap: wrap;
  }
}

.habits-section > h1 {
  width: 35vw;
  color: #000000;
  font-weight: 600;
  font-size: 1.25rem;
}
@media screen and (max-width: 576px) {
  .habits-section > h1 {
    width: 100vw;
  }
}

.habits-section > span {
  font-size: 1rem;
  font-weight: 500;
  color: #343a40;
  cursor: pointer;
}

.habits-section > button {
  width: 5.625rem;
  height: 2rem;
  background-color: #415af3;
  border-radius: 0.25rem;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
}

.habits-container {
  width: 100%;
  border: 0.09rem #e9ecef solid;
  border-radius: 0.25rem;
}

.habits-header {
  width: 100%;
  display: flex;
  color: #a1a1a1;
  font-size: 1rem;
  height: 3rem;
  align-items: center;
  font-weight: 500;
  justify-content: space-between;
}

@media screen and (min-width: 576px) {
  .list-header {
    line-height: 2.75rem;
    align-items: center;
    border: 0.09rem #e9ecef solid;
    padding-bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
  }
}

.list-habit {
  width: 100%;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  border-top: 0.09rem solid #e9ecef;
}

.list-habit-checked {
  background-color: #e9ecef;
}

@media screen and (min-width: 576px) {
  .list-habit {
    width: 100%;
  }
}

.checkbox-container {
  width: 2.5rem;
  text-align: center;
}

.checkbox-container > input {
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .checkbox-container {
    width: 5rem;
    text-align: center;
  }
}

.list-habit-checked > .title-div {
  text-decoration: line-through;
}

.title-div {
  display: flex;
  justify-content: flex-start;
  width: 16.2rem;
  margin-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
}

@media screen and (min-width: 576px) {
  .title-div {
    width: 26.125rem;
  }
}

.description-div {
  display: none;
}

@media screen and (min-width: 576px) {
  .description-div {
    display: block;
    width: 30.812rem;
    margin-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.category-div {
  display: none;
}

@media screen and (min-width: 576px) {
  .category-div {
    display: block;
    width: 10.875rem;
  }

  .habit-category {
    color: #415af3;
    background-color: #d7e4fb;
    padding: 1px 12px;
    border-radius: 0.25rem;
  }
}

.edit-div {
  width: 7.625rem;
  text-align: center;
}

.edit-div > span {
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .edit-div {
    width: 7.825rem;
  }
}

.containerModalCreateHabit {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);
}

.modalCreateHabit {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  width: 19.063rem;
  height: 34.375rem;
}

@media screen and (min-width: 576px) {
  .modalCreateHabit {
    width: 31.375rem;
  }
}

.modal-title-header {
  margin-top: 1.4rem;
  display: flex;
  gap: 8.063rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 576px) {
  .modal-title-header {
    gap: 19rem;
  }
}

.modal-title-header h1 {
  font-weight: 600;
  font-size: 1.25rem;
}

.closeCreateHabit {
  cursor: pointer;
}

.modal_label {
  padding: 0.3125rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
}

.modal_title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.modalCreateHabit > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleInput {
  width: 15.313rem;
  background-color: #f1f3f5;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0 1rem;
  height: 2.1875rem;
  margin-bottom: 0.625rem;
  border: 0.125rem solid transparent;
  outline-color: #a0adf9;
}

@media screen and (min-width: 576px) {
  .titleInput {
    width: 25.1rem;
  }
}

.modal_description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.875rem;
}

.descriptionInput {
  height: 4.7rem;
  width: 15.313rem;
  border-radius: 0.25rem;
  outline-color: #a0adf9;
  background-color: #f1f3f5;
  resize: none;
  padding: 0.7rem 1rem;
  margin-bottom: 0.625rem;
  border: 0.125rem solid transparent;
}

@media screen and (min-width: 576px) {
  .descriptionInput {
    width: 25.1rem;
  }
}

.option_category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2.6rem;
}

.habit_category {
  width: 15.313rem;
  height: 2.1875rem;
  box-shadow: 0, 0, 2.5rem rgba(0, 0, 0, 0.25);
  outline: none;
  margin-bottom: 0.625rem;
  border-radius: 0.25rem;
  border: 0.125rem solid transparent;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .habit_category {
    width: 27.375rem;
  }
}

.habit_category:focus {
  outline: none;
  border-color: #415af3;
  box-shadow: 0, 0, 0.1875rem #415af3;
}

.buttonInsert {
  font-weight: 600;
  width: 15.313rem;
  height: 2.5rem;
  background-color: #a0adf9;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 2rem;
}

@media screen and (min-width: 576px) {
  .buttonInsert {
    width: 27.5rem;
  }
}

.buttonInsert:hover {
  background-color: #4150d2;
  border-radius: 0.25rem;
  color: #fff;
  box-shadow: 0 0 1em rgba(180, 180, 180, 0.8);
  cursor: pointer;
}

.none {
  display: none;
}

.container_editIconProfile {
  top: 4rem;
  left: 18.5rem;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_editProfile {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);
}
.triangulo {
  position: absolute;
  margin-bottom: 8.0625rem;
  margin-left: 14.0625rem;
}
.content_iconProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 40px 0px #00000040;
  border-radius: 0.25rem;
  background-color: #fff;
  width: 15.375rem;
  height: 7.75rem;
}
.opition {
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  margin-left: 3.75rem;
  align-items: center;
  justify-content: space-between;
  width: 14.375rem;
  height: 2.75rem;
}
.btn_iconProfile {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  background-color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.img_iconProfile {
  height: 0.985rem;
}
.content_editProfile {
  display: flex;
  flex-direction: column;
  width: 15.375rem;
  height: 21.8125rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.title_editProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2.625rem;
  margin-top: 2.375rem;
}
.title_editProfile > .profile {
  font-size: 1.25rem;
  font-weight: 600;
}
.closeEditProfile {
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
}
.editProfileForm {
  display: flex;
  flex-direction: column;
  margin: 2.3125rem 2.625rem 0 2.5rem;
}
.label {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 1rem;
  padding: 0 0 0.3rem 0;
}
.input {
  width: 10rem;
  height: 2rem;
  margin-left: -0.8rem;
  background-color: #f1f3f5;
  outline-color: #a0adf9;
  border: 0.125rem solid transparent;
  border-radius: 0.25rem;
  padding: 0 1rem;
}
.btn_editProfile {
  width: 12.375rem;
  height: 2.5rem;
  margin-left: -0.8rem;
  margin-top: 0.5rem;
  color: #fff;
  background-color: #a0adf9;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
}
.btn_editProfile:hover {
  background-color: #4150d2;
  border-radius: 0.25rem;
  color: #fff;
  box-shadow: 0 0 1em rgba(180, 180, 180, 0.8);
  cursor: pointer;
}
.none {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container_editIconProfile {
    top: 4rem;
    left: 64rem;
  }
  .content_editProfile {
    display: flex;
    flex-direction: column;
    width: 31.375rem;
    height: 25.8125rem;
    background-color: #fff;
    border-radius: 0.5rem;
  }
  .title_editProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2.625rem;
    margin-top: 2.375rem;
  }
  .title_editProfile > .profile {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .closeEditProfile {
    width: 0.7rem;
    height: 0.7rem;
    cursor: pointer;
  }
  .editProfileForm {
    display: flex;
    flex-direction: column;
    margin: 2.3125rem 2.625rem 0 3rem;
  }
  .label {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
  }
  .input {
    width: 25rem;
    height: 2.5rem;
    background-color: #f1f3f5;
    outline-color: #a0adf9;
    border: 0.125rem solid transparent;
    border-radius: 0.25rem;
  }
  .btn_editProfile {
    margin-top: 2rem;
    width: 27.375rem;
    height: 2.5rem;
    color: #fff;
    background-color: #a0adf9;
    border-radius: 0.25rem;
    transition: 0.3s ease-in-out;
  }
  .btn_editProfile:hover {
    background-color: #4150d2;
    border-radius: 0.25rem;
    color: #fff;
    box-shadow: 0 0 1em rgba(180, 180, 180, 0.8);
    cursor: pointer;
  }
}

.spanError {
  color: #d3696a;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.inputError {
  border-color: #cf5656;
  outline: unset;
}
