.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.first_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 40px 0px #00000040;
  border-radius: 0.25rem;
  background-color: #fff;
  width: 15.375rem;
  height: 7.75rem;
}

.triangulo {
  position: absolute;
  margin-bottom: 8.0625rem;
  margin-left: 14.0625rem;
}

.opition {
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  margin-left: 3.75rem;
  align-items: center;
  justify-content: space-between;
  width: 14.375rem;
  height: 2.75rem;
}

img {
  height: 0.985rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  background-color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
