.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.profile {
  font-size: 1.25rem;
  font-weight: 600;
}

.close {
}

.editarPerfilFomulario {
}

.name {
}

.label {
}

.input {
}

.btn {
}
