.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.first_content {
  display: flex;
  flex-direction: column;
  width: 31.375rem;
  height: 21.8125rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.title-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2.625rem;
  margin-top: 2.375rem;
}

.profile {
  font-size: 1.25rem;
  font-weight: 600;
}

.close {
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
}

.editarPerfilFomulario {
  display: flex;
  flex-direction: column;
  margin-top: 2.3125rem;
  margin-left: 2rem;
  margin-right: 2.625rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.input {
  width: 27.375rem;
  height: 2.5rem;
  padding: 9px, 18px, 9px, 18px;
  background-color: #f1f3f5;
  margin-bottom: 1.5rem;
  outline-color: #a0adf9;
}

.btn {
  width: 27.375rem;
  height: 2.5rem;
  padding: 12px, 50px, 12px, 50px;
  color: #fff;
  background-color: #a0adf9;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #4150d2;
  border-radius: 0.25rem;
  color: #fff;
  box-shadow: 0 0 1em rgba(180, 180, 180, 0.8);
  cursor: pointer;
}
